.new-expense {
  background-color: #ffd9ca;
  padding: 1rem;
  margin: 2rem auto;
  width: 80rem;
  max-width: 80%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
  background-color: #ff4800;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #ffffff;
  border-color: #ff4800;
  color:#ff4800;
  font-weight:bolder;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ff4800;
}